{% extends 'main.html' %}
{% block content %}
<div class="register">
    <h1>Change Password</h1>
    <form action="" method="POST"><br>
        {% csrf_token %}
        <div class="row">
            <label for="">Old Password</label><br>
        <input type="password" name="oldpassword" placeholder="Old Password" required><br>
        </div>
        <div class="row">
            <label for="">New Pasword</label><br>
        <input type="password" name="newpassword" placeholder="New Password" required><br>
        </div>
        <input class="ss" type="submit"><br><br>
        {% if messages %}
        {% for i in messages %}
        <h1>{{i}}</h1>
        {% endfor %}
        {% endif %}
    </form>

</div>

{% endblock content %}